<!-- Footer -->
<footer class="text-center text-lg-start bg-dark text-muted">
  <section
    class="d-flex p-2 border-bottom flex-row footer-info"
  >
  <img class="logo footer-info" src="../../assets/images/fb.png" (click)="openLink('https://www.facebook.com/profile.php?id=100086621382192')">
  <img class="logo footer-info" src="../../assets/images/ig.png" (click)="openLink('https://www.instagram.com/philippe.dubuisson_/')">
  <img class="logo footer-info" src="../../assets/images/maps.png" (click)="openLink('https://www.google.com/maps/search/+lieu-dit+Villac+24640+Cubjac/@45.2075288,0.9136741,3934m/data=!3m2!1e3!4b1')">
</section>

  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Site
          </h6>
          <p>
            <a href="logements-homepage" class="text-reset">Logements</a>
          </p>
          <p>
            <a href="timeline" class="text-reset">Découvrir la Dordogne</a>
          </p>
          <p>
            <a href="about-us" class="text-reset">Qui sommes-nous ?</a>
          </p>
          <p>
            <a href="logements-homepage" class="text-reset">Réserver un séjour</a>
          </p>
        </div>
        <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-6">
            <i class="fas fa-gem me-6"></i>Le clos d'Adam
          </h6>
          <p>
            Le Clos d’ADAM propose à ses hôtes un gîte de caractère ou se mêle, charme et authenticité, détente et loisirs.
            Votre bien être est notre priorité !

          </p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>

          <p>
            <i class="fas fa-print me-3"></i>LD VILLAC <br/>
            <i class="fas fa-home me-3"></i>24640 CUBJAC AUVEZERE VAL D’ANS</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            clos.adam@gmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i>(+33) 06 53 05 56 35</p>
        </div>
      </div>
    </div>
  </section>

  <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2023 Copyright:
    <p class="text-reset fw-bold">Le clos d'Adam | Site Web - BONVIN Adrien</p>
  </div>
</footer>
