.footer {
   height: 200px;
   width: 100%;
   background-color: black;
}

.logo {
  height:30px;
  margin: 0.5% 1%;
}

.logo:hover {
  transform: scale(1.2);
  cursor:pointer;
}

.footer-info {
  z-index:1;
}
