<hr class="line-start" />
<div class="container-ensemble" [ngClass]="{'row': !telephonePortable}">
  <div class="col container-paragraphe-info">
    <h2>{{titre}}</h2>
    <h3>{{paragraphe}}</h3>
  </div>
  <div class="carousel-container">
    <div id="carouselPhotosLogement" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img [src]="img_carousel_1" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img [src]="img_carousel_2" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img [src]="img_carousel_3" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselPhotosLogement" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselPhotosLogement" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <div *ngIf="typeLogement == 'gite'">
    <div class="row services-container">
      <h3>Caractéristiques</h3>
      <div class="icon" [ngClass]="{'col-2' : !telephonePortable, 'col-4' : telephonePortable}">
        <mat-icon>pets</mat-icon>
        <p>Animaux autorisés</p>
      </div>
      <div class="icon" [ngClass]="{'col-2' : !telephonePortable, 'col-4' : telephonePortable}">
        <mat-icon>weekend</mat-icon>
        <p>Tout confort</p>
      </div>
      <div class="icon" [ngClass]="{'col-2' : !telephonePortable, 'col-4' : telephonePortable}">
        <mat-icon>wifi</mat-icon>
        <p>Wifi gratuit</p>
      </div>
      <div class="icon" [ngClass]="{'col-2' : !telephonePortable, 'col-4' : telephonePortable}">
        <mat-icon>tv</mat-icon>
        <p>Télévision</p>
      </div>
      <div class="icon" [ngClass]="{'col-2' : !telephonePortable, 'col-4' : telephonePortable}">
        <mat-icon>brightness_2</mat-icon>
        <p>Sous les étoiles</p>
      </div>
      <div class="icon" [ngClass]="{'col-2' : !telephonePortable, 'col-4' : telephonePortable}">
        <mat-icon>filter_hdr</mat-icon>
        <p>au plus près de la nature</p>
      </div>
    </div>
  </div>

  <div *ngIf="typeLogement == 'insolite'">
    <div class="row services-container">
      <h3>Caractéristiques</h3>
      <div class="icon" [ngClass]="{'col' : !telephonePortable, 'col-4' : telephonePortable}">
        <mat-icon>local_laundry_service</mat-icon>
        <p>Lave-linge</p>
      </div>
      <div class="icon" [ngClass]="{'col' : !telephonePortable, 'col-4' : telephonePortable}">
        <mat-icon>hotel</mat-icon>
        <p>Lit Queen size</p>
      </div>
      <div class="icon" [ngClass]="{'col' : !telephonePortable, 'col-4' : telephonePortable}">
        <mat-icon>360</mat-icon>
        <p>Vue panoramique</p>
      </div>
      <div class="icon" [ngClass]="{'col' : !telephonePortable, 'col-4' : telephonePortable}">
        <mat-icon>remove_red_eye</mat-icon>
        <p>Experience unique</p>
      </div>
      <div class="icon" [ngClass]="{'col' : !telephonePortable, 'col-4' : telephonePortable}">
        <mat-icon>panorama_horizontal</mat-icon>
        <p>vue panoramique</p>
      </div>
      <div class="icon" [ngClass]="{'col' : !telephonePortable, 'col-4' : telephonePortable}">
        <mat-icon>nature_people</mat-icon>
        <p>au plus près de la nature</p>
      </div>
    </div>
  </div>

  <div *ngIf="typeLogement == 'camping-car'">
    <div class="row services-container">
      <h3>Caractéristiques</h3>
      <div class="icon" [ngClass]="{'col' : !telephonePortable, 'col-4' : telephonePortable}">
        <mat-icon>pool</mat-icon>
      <p>Acces piscine</p>
      </div>
      <div class="icon" [ngClass]="{'col' : !telephonePortable, 'col-4' : telephonePortable}">
        <mat-icon>smoke_free</mat-icon>
      <p>Interdit de fumer</p>
      </div>
      <div class="icon" [ngClass]="{'col' : !telephonePortable, 'col-4' : telephonePortable}">
        <mat-icon>group</mat-icon>
      <p>Idéal en couple</p>
      </div>
      <div class="icon" [ngClass]="{'col' : !telephonePortable, 'col-4' : telephonePortable}">
        <mat-icon>public</mat-icon>
      <p>Respectueux de l'environnement</p>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-outline-info btn-reservation">
    Réservez ce logement
  </button>
</div>
<hr class="line-end"/>

