.container-ensemble{
  padding: 2% 5%;
  position:relative;
  display: flex;
  flex-direction: row;
  align-items: center;
    justify-content: center;
}

.container-paragraphe-info {
  padding-left: 2%;
  padding-right: 2%;
}

.container-paragraphe-info h2 {
    color: #a69667;
    text-align: center;
    font-family: "Helvetica", serif;
    font-size: 3vw;
    padding-top:2%;
    font-weight: bold;
  }

  .container-paragraphe-info h3 {
    text-align: justify;
    font-size: 1.5vw;
    font-weight: lighter;
    line-height: 2.5vw;
  }

  .carousel-container {
    width: 50%;
    padding-left:3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  #carouselPhotosLogement {

  }

  .services-container {
    padding: 2%;
    margin-top: 3%;
    background-color: #a6966709;
    text-align: center;
    color: #a69667;
    border:solid;
    border-color: #a69667;
    border-width: 5px;
  }

  .services-container h3 {
    padding-bottom: 2%;
    text-align: center;
  }

  /*Evite un overflow des elements col quand ils font la width de l'ecran*/
.row {
	--bs-gutter-x: 0;
}

.line-start {
  width:50%;
  margin: 0 auto;
}

.line-end {
  width:80%;
  margin: 0 auto;
}

.btn-reservation {
  margin: 2% auto;
  width:25%;
  font-size: 2vw;
  padding: 0.8%;
  color: #ffffff;
  border-color: #a69667;
  background-color: #a69667;
}

.btn-reservation:hover {
  color: #a69667;
  border-color: #a69667;
  background-color: #ffffff;
}

.carousel-control-next:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.carousel-control-prev:hover{
  background-color: rgba(255, 255, 255, 0.2);
}

.container-infos-logement {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin:5%;
}

@media screen and (max-width: 500px) {
  .container-ensemble{
    padding: 5% 10%;
  }

  .container-paragraphe-info h2 {

      text-align: center;
      font-family: "Helvetica", serif;
      font-size: 6vw;
      font-weight: bold;
    }

    .container-paragraphe-info h3 {
      text-align: justify;
      font-size: 4vw;
      line-height: 5vw;
      font-weight: normal;
      padding: 5% 0%;;
    }

  .carousel-container {
    width: 100%;
    padding-left:0%;
  }

  .services-container p {
    font-size: 3vw;
  }
  .services-container .icon {
    font-size: 3vw;
  }

  .btn-reservation {
    margin: 8% auto;
    width:80%;
    font-size: 5vw;
    padding: 2%;
  }

}
