/* Types de reservations */
.container-logements {
  position: relative;
  padding-top: 6%;
  padding-bottom: 3%;
}

.logements {
  text-align: center;
  font-size: 1vw;
}

.logements div {
  padding-left: 2%;
  padding-right: 2%;
}

h2 {
  font-size: 3vw;
  font-weight: bolder;
}

h2 strong {
  font-weight: bold;
  color: #a69667;
}

.img-camping-car {
  width: 100%;
  height: 80%;
  object-fit: cover;
}
.img-gite {
  width: 100%;
  height: 80%;
  object-fit: cover;
}
.img-yourt {
  width: 100%;
  height: 80%;
  object-fit: cover;

}

/*Evite un overflow des elements col quand ils font la width de l'ecran*/
.row {
	--bs-gutter-x: 0;
}

.card {
margin: 3%;
}

.btn-primary {
background-color: #a69667;
border-color: #a69667;
}

.card:hover {
  cursor: pointer;
}

.card:hover .btn-primary {
  background-color: #ffffff;
  color: #a69667;
}

.card:hover img {
  filter: brightness(60%);
}

mat-card {
  position: relative;
  padding-top: 0;
}

.mat-card-image {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

mat-icon {
  z-index: 1;
  position: absolute;
  top:20%;
  left:40%;
  color: #a69667;
  font-size: 6vw;
  text-shadow: 0 0.2rem 0.2rem rgb(0 0 0 / 50%);
}

mat-card-title {
  color: #a69667;
  font-weight: bold;
}
