<div class="container-logements">
  <hr />
  <div class="logements">
    <div class="logements-texte">
      <div
        class="left"
        data-aos="fade-right"
        data-aos-anchor-placement="top-bottom"
      >
        <h2>Différents <strong>logements</strong>,</h2>
      </div>
      <div
        class="right"
        data-aos="fade-left"
        data-aos-anchor-placement="center-bottom"
        data-aos-delay="200"
      >
        <h2>différents <strong>souvenirs.</strong></h2>
      </div>
    </div>

    <div class="container-cards" [ngClass]="{ row: !telephonePortable }">
      <div class="col" data-aos="fade-up-left" data-aos-delay="200">
        <mat-card
          class="card disabled"
          (click)="goToReservations('insolite')"
          (mouseenter)="isHoverInsolite = true"
          (mouseleave)="isHoverInsolite = false"
        >
          <mat-icon [hidden]="!isHoverInsolite"
            ><!--airline_seat_flat-->landscape</mat-icon
          >
          <img mat-card-image src="../../../assets/logements/bulle_out.jpg" />
          <mat-card-title>Insolite</mat-card-title>
          <mat-card-content
            >Type de logement bientôt proposé par le clos
            d'Adam.</mat-card-content
          >
          <mat-card-actions
            ><a class="btn btn-primary">Voir l'hébergement</a></mat-card-actions
          >
        </mat-card>
      </div>
      <div class="col" data-aos="fade-up-right">
        <mat-card
          class="card"
          (click)="goToReservations('gite')"
          (mouseenter)="isHoverGite = true"
          (mouseleave)="isHoverGite = false"
        >
          <mat-icon [hidden]="!isHoverGite">home</mat-icon>
          <img
            mat-card-image
            src="../../../assets/logements/Chambre_Hote_Presentation.jpg"
          />
          <mat-card-title>Gîte</mat-card-title>
          <mat-card-content
            >Gîte de caractère pour les amoureux de l’authenticité, du calme et
            du confort.
            <p><b>4 à 6 personnes</b></p>
          </mat-card-content>
          <mat-card-actions
            ><a class="btn btn-primary">Voir l'hébergement</a></mat-card-actions
          >
        </mat-card>
      </div>
      <div class="col" data-aos="fade-up-right" data-aos-delay="400">
        <mat-card
          class="card disabled"
          (click)="goToReservations('camping-car')"
          (mouseenter)="isHoverCampingCar = true"
          (mouseleave)="isHoverCampingCar = false"
        >
          <mat-icon [hidden]="!isHoverCampingCar">airport_shuttle</mat-icon>
          <img
            mat-card-image
            src="../../../assets/logements/Chambre_Hote_Presentation.jpg"
          />
          <mat-card-title>Emplacement Camping car</mat-card-title>
          <mat-card-content
            >Type de logement bientôt proposé par le clos
            d'Adam.</mat-card-content
          >
          <mat-card-actions
            ><a class="btn btn-primary">Voir l'hébergement</a></mat-card-actions
          >
        </mat-card>
      </div>
    </div>
  </div>
  <app-feature-popup #featurePopup></app-feature-popup>
</div>
