/* Types de reservations */
.container-logements {
  position: relative;
  padding: 0% 5% 5% 5%;
}

.logements {
  text-align: center;
  font-size: 1vw;
}

.logements div {
  padding-left: 2%;
  padding-right: 2% 10%;
}

h2 {
  font-size: 3vw;
  font-weight: bolder;
  padding:0%;
}

h2 strong {
  font-weight: bold;
  color: #a69667;
}

.left{
  margin-right:20%
}

.right{
  margin-left:20%
}

.img-camping-car {
  width: 100%;
  height: 80%;
  object-fit: cover;
}
.img-gite {
  width: 100%;
  height: 80%;
  object-fit: cover;
}
.img-yourt {
  width: 100%;
  height: 80%;
  object-fit: cover;

}

/*Evite un overflow des elements col quand ils font la width de l'ecran*/
.row {
	--bs-gutter-x: 0;
}

.card {
margin: 2%;
}

.btn-primary {
background-color: #a69667;
border-color: #a69667;
}

.card:hover {
  cursor: pointer;
}

.card:hover .btn-primary {
  background-color: #ffffff;
  color: #a69667;
}

.card:hover img {
  filter: brightness(60%);
}

mat-card {
  position: relative;
  padding-top: 0;
}

.mat-card-image {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

mat-icon {
  z-index: 1;
  position: absolute;
  top:17%;
  left:40%;
  color: #a69667;
  font-size: 6vw;
  text-shadow: 0 0.2rem 0.2rem rgb(0 0 0 / 50%);
}

mat-card-title {
  color: #a69667;
  font-weight: bold;
}

hr {
  margin:0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  width:20%;

}

@media screen and (max-width: 500px) {
  .mat-card {
    margin:10%;
    margin-top:6%;
    margin-bottom: 15%;
  }
  h2 {
    padding:10%;
    font-size: 7vw;
  }
}
