/** Image préface */
.background-page {
  width: 100%;
  height: 70%;
  margin: 0 auto;
  color: #fff;
  position:relative
  }

  .background-page h1 {
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0 0.2rem 0.2rem rgb(0 0 0 / 50%);
  position:absolute;
  top: 10%;
  left: 25%;
  right: 25%;
  }

  .main-img {
  width:100%;
  }
