<!-- Image de pré-face -->
<div class="background-page">
  <img class="main-img" src="../assets/logements/camping-car-homepage.jpg">
  <h1>
    <div>
      <span>Reservez&nbsp;</span>
      <span>le&nbsp;</span>
      <span>séjour&nbsp;</span>
      <span>qui</span>
    </div>
    <div>
      <span>vous&nbsp;</span>
      <span>ressemble</span>
    </div>
  </h1>
</div>


<div class="row services-container">
  <h3>Caractéristiques</h3>

  <div class="col icon">
    <mat-icon>restaurant</mat-icon>
     <p>Paniers repas</p>
  </div>
   <div class="col icon">
    <mat-icon>drive_eta</mat-icon>
    <p>Parking atitré</p>
  </div>
  <div class="col icon">
    <mat-icon>power</mat-icon>
    <p>Electricité</p>
   </div>
   <div class="col icon">
     <mat-icon>wc</mat-icon>
     <p>WC exterieurs à disposition</p>
  </div>
  <div class="col icon">
    <mat-icon>free_breakfast</mat-icon>
     <p>Petit Déjeuner disponible</p>
  </div>
  <div class="col icon">
    <mat-icon>hot_tub</mat-icon><mat-icon>spa</mat-icon>
    <p>Accès SPA</p>
  </div>
</div>
