<div class="container-homepage" id="homepage" [ngStyle]="{'height': tailleEcran}">
  <video autoplay [muted]="'muted'" loop id="myVideo" [ngStyle]="{'height': tailleEcran}">
    <source src="../../assets/video/homepage_video.mp4" type="video/mp4">
    Your browser does not support HTML5 videos.
  </video>

  <h1 class="main-text">
    <div>
      <span>Séjournez&nbsp;</span>
      <span>au&nbsp;</span>
      <span>coeur&nbsp;</span>
      <span>de&nbsp;</span>
      <span>la&nbsp;</span>
      <span>Dordogne&nbsp;</span>
    </div>
  </h1>
  <!--<h2  class="sous-texte">
    <div>
      <span>Séjournez&nbsp;</span>
      <span>au&nbsp;</span>
      <span>coeur&nbsp;</span>
      <span>de&nbsp;</span>
      <span>la&nbsp;</span>
      <span>dordogne</span>
    </div>
  </h2>-->
  <button type="button" class="btn btn-outline-info btn-homepage" onClick="document.getElementById('texte-intro').scrollIntoView();">
    Découvez le domaine
  </button>
</div>

<app-bookingbar [ngStyle]="{'opacity':isScrolledToTop}" class="search-bar"></app-bookingbar>


<app-introduction class="homepage-section"></app-introduction>

<app-logements id="logements"></app-logements>

<app-socialproof></app-socialproof>

<app-aboutus id="about-us"></app-aboutus>

<div class="container-img-footer">
  <img class="img-footer" src="../../../assets/images/footer-img.jpg">
  <p class="text-img-footer">A (  très) bientôt</p>
  <a class="nav-link" onClick="document.getElementById('homepage').scrollIntoView();">Retourner au début du site</a>
</div>

