<div class="container-homepage" id="homepage">
  <video autoplay [muted]="'muted'" loop id="myVideo">
    <source src="../../assets/video/homepage_video.mp4" type="video/mp4">
    Your browser does not support HTML5 videos.
  </video>

  <h1 class="main-text">
    <div>
      <span>Bienvenue&nbsp;</span>
      <span>chez&nbsp;</span>
      <span>vous</span>
      <!--<span>coin&nbsp;</span>
      <span>de&nbsp;</span>
      <span>paradis</span>-->
    </div>
  </h1>
  <button type="button" class="btn btn-outline-info btn-homepage" onClick="document.getElementById('texte-intro').scrollIntoView();">
    Découvrir le domaine
  </button>
</div>

<app-bookingbar class="search-bar"></app-bookingbar>

<app-logements id="logements"></app-logements>

<app-introduction class="homepage-section"></app-introduction>

<app-socialproof></app-socialproof>

<app-aboutus id="about-us"></app-aboutus>

<div class="container-img-footer">
  <img class="img-footer" src="../../../assets/images/footer-img.jpg">
  <p class="text-img-footer">A (très) bientôt</p>
  <a class="nav-link" onClick="document.getElementById('homepage').scrollIntoView();">Retourner au début du site</a>
</div>

