/** Image préface */
.background-page {
  width: 100%;
  margin: 0 auto;
  color: #fff;
  overflow:hidden;
  }

  .main-img {
    position: relative;
    width:100%;
    object-fit: cover;
    filter: brightness(80%);
    padding:0;
    margin:0;
    }

  .background-page h1 {
    position:absolute;
    top: 25%;
    left: 20%;
    right: 20%;
    font-size: 10vw;
    font-weight: normal;
    text-align: center;
    font-family: "Handwriting";
    color: rgb(255, 255, 255);
    text-shadow: 0 0.2rem 0.2rem rgb(0 0 0 / 50%);
  }

  .background-page h2 {
    position:absolute;
    top: 65%;
    left: 20%;
    right: 20%;
    font-size: 6vw;
    font-weight: normal;
    text-align: center;
    font-family: "Handwriting";
    color: rgb(255, 255, 255);
    text-shadow: 0 0.2rem 0.2rem rgb(0 0 0 / 50%);
  }

  .about-us-body {
  }

  .about-us-body h1 {
    font-family: "Handwriting";
    font-size: 6em;
    text-align: center;
    padding: 5%;
  }

  .about-us-body .paragraphe {
    font-size:1.5em;
    margin:0;
    text-align: center;
    padding: 0% 8%;
  }

  .about-us-body .single {
    font-size:1.5em;
    margin:0;
    text-align: center;
    padding: 2%;
  }

  .about-us-body .papy {
    font-family: "Handwriting";
    font-size:3em;
    margin:0;
    text-align: center;
    padding: 5%;
  }

