.navbar {
 height: 60px;
 width: 100%;
 transition: 0.5s ease-in-out;
}

.btn-reservation {
  border-color: #a69667;
}


.btn-transparent {
  color: #a69667;
}

.btn-transparent:hover {
  color: #ffffff;
  background-color: #a69667;
  }

  .btn-doree {
    color: #ffffff;
    background-color: #a69667;
    }

  .btn-doree:hover {
    color: #a69667;
    background-color: #ffffff;
  }

  .nav-link {
    cursor: pointer;
  }

  .navbar-light div div ul li a {
    color:#a69667;
  }
