.container-about-us {
  width: 100%;
  padding-top: 7%;
  padding-bottom: 7%;
}
.container-img {
  overflow:hidden;
  padding-left: 5%;
  padding-right: 0%;
}

.text-about-us {
background-color: #a6966725;
padding: 5%;
margin-right: 3%;
}

.text-about-us p {
  padding-top: 4%;
  text-align: justify;
  line-height: 2vw;
  padding-left:5%
}

.text-about-us button {
  margin-left:5%
}

.img-about-us {
  width: 100%;
}

.btn-primary {
  background-color: #a69667;
  border-color: #a69667;
}

.btn-primary:hover {
  background-color: #ffffff;
  color: #a69667;
}

@media screen and (max-width: 500px) {
  .container-img {
    padding-left: 0%;
    width: 80%;
  }
  .container-about-us {
    width: auto;
    padding:10%;
  }
  .text-about-us {
    width: 80%;
    margin-left: 20%;
  }
  .text-about-us p {
    font-size: 4vw;
    line-height: 5.5vw;
    text-align: left;

  }
  .text-about-us button {
    margin-left:5%;
    padding:3%;
  }
}
