<!-- Image de pré-face -->
<div class="background-page">
  <img class="main-img" src="../assets/logements/yourt_out.jpg">
  <h1>
    <div>
      <span>Logements&nbsp;</span>
      <span>insolites&nbsp;</span>
    </div>
  </h1>
</div>
<div class="row container-ensemble">
  <div class="col container-paragraphe-info">
    <h2>Logements insolites</h2>
    <h3>
      Les différents types de logements proposés au domaine du buisson permettent à n'importe qui d'y trouver sa place, allant du gîte tout confort à la bulle au plus près de la nature, tout le monte y trouve son espace.
    </h3>
  </div>
  <div class="col container-img-logement">
    <img class="img-logement" src="../assets/logements/yourt_in.jpg">
  </div>
  <div class="services-container"><mat-icon>airport_shuttle</mat-icon><mat-icon>airport_shuttle</mat-icon></div>
</div>

