  .container-ensemble{
  padding-bottom:5%;
  }

  .container-paragraphe-info h2 {
    color: #a69667;
    text-align: left;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 2%;

    font-family: "Helvetica", serif;
    font-size: 3vw;
    font-weight: bold;
  }

  .container-paragraphe-info h3 {
    text-align: justify;
    padding-left: 5%;
    font-size: 1.5vw;
    line-height: 2.5vw;
  }

  .carousel-container {
    width: 50%;
  }

  #carouselPhotosLogement {
    text-align: right;
    padding: 5%;
  }

  .services-container {
    margin-top: 4%;
    padding: 2%;
    background-color: blanchedalmond;
    text-align: center;
  }

  .services-container h3 {
    padding-bottom: 3%;
    padding-top: 1%;
    text-align: center;
  }
