/** Image préface */
.background-page {
  width: 100%;
  height: 70%;
  margin: 0 auto;
  color: #fff;
  position:relative
  }

  .background-page h1 {
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0 0.2rem 0.2rem rgb(0 0 0 / 50%);
  position:absolute;
  top: 10%;
  }

  .main-img {
  width:40%;
  border-radius: 100%;
  }
  /* FIN IMAGE PREFACE */

  .container-ensemble{
  padding-bottom:5%;
  }

  .container-paragraphe-info h2 {
    color: #a69667;
    text-align: left;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 2%;

    font-family: "Helvetica", serif;
    font-size: 3vw;
    font-weight: bold;
  }

  .container-paragraphe-info h3 {
    text-align: justify;
    padding-left: 5%;
    font-size: 1.5vw;
    line-height: 2.5vw;
  }

  .container-img-logement{
    width: 100%;
    text-align: center;
    padding-top: 5%;
}

  .img-logement {
    width: 50%;
    object-fit: cover;
  }

  .services-container {
    padding: 2%;
    background-color: blanchedalmond;
    text-align: center;
  }

  .services-container h3 {
    padding-bottom: 3%;
    padding-top: 1%;
    text-align: center;
  }
