<div class="container-text-intro" id="texte-intro">
  <div class="texte-intro" [ngClass]="{'row' : !telephonePortable}">
    <h2 data-aos="fade-up" data-aos-anchor-placement="top-bottom">La Lézardière,</h2>
    <h3 data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-delay="200"
    >reposante et inoubliable</h3>
    <div class="container-text" [ngClass]="{'col-6' : !telephonePortable}">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel quam ligula. Duis sollicitudin
        ante tortor. Aliquam dignissim diam magna, id vestibulum dolor interdum vel. Suspendisse viverra
        facilisis bibendum. In non neque ullamcorper, aliquam magna ac, porttitor ante. Nam a lorem at
        justo
      </p>
      <p [hidden]="telephonePortable">Fusce efficitur nunc a euismod ultricies. Nullam lobortis gravida blandit. Duis sit amet elit vel erat
        imperdiet placerat. Ridiculus mus. Etiam metus magna, pulvinar a urna
        vel, pellentesque cursus metus. Sed id luctus nulla, id auctor ex. Donec eget nisi tellus. Fusce euismod
        rutrum dolor sit amet pulvinar
        <strong><a href="https://www.domainelaclausade.com/e-shop/">boutique en ligne.</a></strong>
      </p>
    </div>
    <div class="row" [ngClass]="{'col-6' : !telephonePortable}">
      <div class="container-img col">
        <img class ="img1" src="../../../assets/images/domaine_out.jpg">
      </div>
      <div class="container-img col">
        <img class ="img2" src="../../../assets/images/piscine-interieure.jpg">
      </div>
      <div class="container-img col">
        <img class ="img3" src="../../../assets/logements/bulle_out.jpg">
      </div>
    </div>
  </div>
</div>

