/* Social proof */
.container-social-proof {
  position: relative;
  margin-top: -0.4%;
  width: 100%;
  background-color: #a696672d;
  padding-top: 3%;
  padding-bottom: 3%;
}

.texte-social-proof {
  text-align: justify;
  text-align-last: center;
  font-family: "Helvetica", serif;
  font-size: 1vw;
}

.rating-container {
  padding:0%;
}

.rating-star{
  padding-top: 2%;
  padding-bottom: 2%;
  margin: auto;
  color: rgb(201, 201, 0);
}

.commentaire {
  top: 15%;
  padding: 2%;
}

#nomPersonne {
  color: #96a667;
  font-size: bold;
}

h2 {
  font-size: 3vw;
  font-weight: bolder;
  color: #a69667;
}

h3 {
  font-size: 1.5vw;
  font-weight: bold;
}

/*Evite un overflow des elements col quand ils font la width de l'ecran*/
.row {
	--bs-gutter-x: 0;
}

@media screen and (max-width: 500px) {
  .container-social-proof {
    padding : 10%;

  }
  h2 {
    font-size: 5.5vw;
    padding-bottom: 5%;
  }
  h3 {
    font-size: 4vw;
    padding-left: 20%;
    padding-right: 20%;

  }
  .commentaire {
    text-align: justify;
    width: 100%;
    padding-left:5%;
    padding-right:5%;
  }
  #nomPersonne {
    font-size: 4vw;

  }
  .commentaire p {
    font-size: 3.5vw;
  }
  .rating-container {
    padding:5%;
  }
}
