.container-social-proof {
  width:100%;
  padding:15vh 0 10vh 0;
}

.commentaite {
height : 250px;
margin-bottom:50px;
}

.arrow {
  transform: scale(1.5);
}

.left {
  margin-right : 7vw;
}

.right {
  margin-left : 7vw;
}

.arrow:hover {
  cursor:pointer;
  transform: scale(3);
}

h1 {
  font-weight: bolder;
  font-size: 5em;
  margin-bottom: 10vh;
}

strong {
  color: #a69667;
}


@media screen and (max-width: 500px) {
  .container-social-proof {
    padding:8vh 0 15vh 0;
  }
  h1 {
    margin-bottom: 6vh;
    padding-left:0.3em;
  }
}
