<!-- Image de pré-face -->
<div class="background-page">
  <img class="main-img" src="../assets/logements/chambre_hote_in.jpg">
  <h1>
    <div>
      <span>Reservez&nbsp;</span>
      <span>le&nbsp;</span>
      <span>séjour&nbsp;</span>
      <span>qui</span>
    </div>
    <div>
      <span>vous&nbsp;</span>
      <span>ressemble</span>
    </div>
  </h1>
</div>


  <div class="row services-container">
    <h3>Caractéristiques</h3>

    <div class="col icon">
      <mat-icon>pool</mat-icon>
    <p>Acces piscine</p>
    </div>
    <div class="col icon">
      <mat-icon>smoke_free</mat-icon>
    <p>Interdit de fumer</p>
    </div>
    <div class="col icon">
      <mat-icon>group</mat-icon>
    <p>Idéal en couple</p>
    </div>
    <div class="col icon">
      <mat-icon>public</mat-icon>
    <p>Respectueux de l'environnement</p>
    </div>
    <div class="col icon">
      <mat-icon>free_breakfast</mat-icon>
      <p>Petit Déjeuner disponible</p>
    </div>
    <div class="col icon">
      <mat-icon>hot_tub</mat-icon>
      <p>Accès piscine et SPA</p>
    </div>
  </div>
