.super-container {
width: 100%;
}

.container {
  margin: auto;
  padding: 0%;
  height: 15%;
  width: 70%;
  margin-top: -4%;
  box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.119);
}

.container-champ {
  padding:0%;
  margin:0%;
}

.border {
  border-right: solid;
  border-width: thin;
  border-radius: 1%;
  border-color: rgba(0, 0, 0, 0.153);
}

.bouton-selection {
  cursor: pointer;
  position: relative;
  background-color: white;
  height: 100%;
  padding-top: 6%;
  padding-left: 10%;
}

h3 {
  color: #a6966754;
  font-weight: bold;
  font-size: small;
}

.input-selectionne {
  color: black;
  font-size: larger;
  font-weight: bold;
}

.empty-input {
  color: white;
  font-weight: bold;
  font-size: larger;
}

.date-selectionne {
  color: black;
  font-size: small;
  font-weight: bold;
}

.bouton-selection mat-icon {
  position:absolute;
  bottom: 20%;
  right: 5%;
  color: darkgrey;
}

.bouton-selection mat-datepicker-toggle {
  position:absolute;
  bottom: 11%;
  right: 4%;
  color: darkgrey;
  }

.container-recherche {
  background-color:rgb(216, 216, 216) ;
  text-align: center;
  z-index: 1;
  padding:0%;
}

.btn-recherche {
  font-size: 1.5vw;
  color: #ffffff;
  background-color: #a69667;
  width:100%;
  height: 100%;
  border:none;
  border-radius: 1%;
  /* Pour augmenter la hauteur de la bar de reservation */
  padding:10%;

}


.btn-recherche:hover {
  color: #a69667;
  border-color: #a69667;
  background-color: #ffffff;
}



@media screen and (max-width: 500px) {
  .container {
    margin-top: -40%;
  }

  .btn-recherche {
    font-size: 7vw;
    height: 100%;
  }

  .bouton-selection {
    padding:5%;
    margin:0%;
  }

  .dropdown-menu {
    width: 70%;
  }
}

