<div class="super-container">
  <div class="container" [ngClass]="{'row' : !telephonePortable}">
    <div class=" col container-champ">
      <div class="bouton-selection border" data-bs-toggle="dropdown">
        <h3>Logement</h3>
        <div class="input-selectionne">{{logementSelectionne}}</div>
        <mat-icon>keyboard_arrow_down</mat-icon>
      </div>

      <ul class="dropdown-menu">
        <li><a (click)="logementSelectionne='Gite'" class="dropdown-item">Gite</a></li>
        <li><a (click)="logementSelectionne='Bulle'"class="dropdown-item">Bulle</a></li>
        <li><a (click)="logementSelectionne='Yourt'"class="dropdown-item">Yourt</a></li>
        <li><a (click)="logementSelectionne='Camping-car'"class="dropdown-item">Emplacement camping-car</a></li>
      </ul>
    </div>
    <div class="col container-champ">
      <div class="bouton-selection border" data-bs-toggle="dropdown">
        <h3>Dates séjour</h3>

          <mat-date-range-input [rangePicker]="picker">
            <input [(ngModel)]="startDate" class="date-selectionne" matStartDate>
            <input [(ngModel)]="endDate" class="date-selectionne" matEndDate>
          </mat-date-range-input>
          <!-- <mat-icon matDatepickerToggleIcon >keyboard_arrow_down</mat-icon>-->
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>

      </div>
    </div>
    <div class=" col container-champ">
      <div class="bouton-selection border" data-bs-toggle="dropdown">
        <h3>Nb personnes</h3>
        <div class="input-selectionne">{{nombrePersonnes}} </div>
        <mat-icon>keyboard_arrow_down</mat-icon>
      </div>
      <ul class="dropdown-menu">
        <li><a (click)="nombrePersonnes=1" class="dropdown-item">1</a></li>
        <li><a (click)="nombrePersonnes=2" class="dropdown-item">2</a></li>
        <li><a (click)="nombrePersonnes=3" class="dropdown-item">3</a></li>
        <li><a (click)="nombrePersonnes=4" class="dropdown-item">4</a></li>
        <li><a (click)="nombrePersonnes=5" class="dropdown-item">5</a></li>
        <li><a (click)="nombrePersonnes=6" class="dropdown-item">6</a></li>
        <li><a (click)="nombrePersonnes=6" class="dropdown-item">Adapter le nombre au logement choisi</a></li>

      </ul>
    </div>
    <div class="col container-recherche " >
      <button class="btn btn-outline-info btn-recherche" (click)="ouvrirMailReservation()">Réserver</button>
    </div>
  </div>
</div>
