<div class="background-page">
  <h1>
    <div>
      <span>Reservez&nbsp;</span>
      <span>le&nbsp;</span>
      <span>séjour&nbsp;</span>
      <span>qui</span>
    </div>
    <div>
      <span>vous&nbsp;</span>
      <span>ressemble</span>
    </div>
  </h1>
  <img class="imageLogement yourt" [src]="imgYourt"
          (mouseover)="imgYourt = '../../assets/logements/yourt_in.jpg'"
          (mouseout)="imgYourt = '../../assets/logements/yourt_out.jpg'">
  <h3 class="yourt-texte">Yourt</h3>

  <img class="imageLogement chambre-hote" [src]="imgChambreHote"
          (mouseover)="imgChambreHote = '../../assets/logements/chambre_hote_in.jpg'"
          (mouseout)="imgChambreHote = '../../assets/logements/chambre_hote_out.jpg'">
  <h3 class="chambre-hote-texte">Chambre d'hôte</h3>
</div>
