<!-- Image de pré-face -->
<div class="background-page">
    <img class="main-img" src="../assets/logements/bulle_out.jpg">
    <h1>
      <div>
        <span>Reservez&nbsp;</span>
        <span>le&nbsp;</span>
        <span>séjour&nbsp;</span>
        <span>qui</span>
      </div>
      <div>
        <span>vous&nbsp;</span>
        <span>ressemble</span>
      </div>
    </h1>
</div>

<!-- Contenu de la page -->
<div class="container-texte-intro">
  <h1>Logements du domaine du Buisson</h1>
  <h3>
    Les différents types de logements proposés au domaine du buisson permettent à n'importe qui d'y trouver sa place, allant du gîte tout confort à la bulle au plus près de la nature, tout le monte y trouve son espace.
  </h3>
</div>
<div class="container-logements">
  <div class="logements row">
    <h2>Où souhaiteriez-vous <strong>séjourner</strong> ?</h2>
    <div class="row container-cards">
          <mat-card class="card col" (click)="goToReservations('camping-car')">
            <img mat-card-image src="../../../assets/logements/camping-car.jpg">
            <mat-card-title>Camping car</mat-card-title>
            <mat-card-content>Pour les voyageurs nomades souhaitant un endroit sûr, propre et agréable pour s'installer.</mat-card-content>
            <mat-card-actions><a class="btn btn-primary">Voir l'hébergement</a></mat-card-actions>
          </mat-card>
          <mat-card class="card col" (click)="goToReservations('gite')">
            <img mat-card-image src="../../../assets/logements/chambre_hote_in.jpg">
            <mat-card-title>Gite</mat-card-title>
            <mat-card-content>Pour les amoureux du confort souhaitant une nuit au calme dans un gite de caractère.</mat-card-content>
            <mat-card-actions><a class="btn btn-primary">Voir l'hébergement</a></mat-card-actions>
          </mat-card>
          <mat-card class="card col" (click)="goToReservations('insolite')">
            <img mat-card-image src="../../../assets/logements/bulle_out.jpg">
            <mat-card-title>Insolite</mat-card-title>
            <mat-card-content>Pour les aventuriers souhaitant une nuit insolite au plus près de la nature, à partager en famille ou entre amis.</mat-card-content>
            <mat-card-actions><a class="btn btn-primary">Voir l'hébergement</a></mat-card-actions>
          </mat-card>
        </div>
  </div>
</div>



