<!-- Image de pré-face -->
<div class="background-page">
    <img class="main-img" src="../assets/logements/Gite_Salon_2.jpg" [ngStyle]="{'height': tailleEcran}">
    <h1>
      <div>
        <span>Reservez&nbsp;</span>
        <span>le&nbsp;</span>
        <span>logement&nbsp;</span>
        <span>qui</span>
      </div>
      <div>
        <span>vous&nbsp;</span>
        <span>ressemble</span>
      </div>
    </h1>
</div>

<app-bookingbar class="search-bar" [ngStyle]="{'opacity':isScrolledToTop}"></app-bookingbar>

<!-- Contenu de la page -->
<div class="container-texte-intro">
  <h2>Les <strong>logements</strong> proposés par le clos d'Adam</h2>

</div>
<div class="container-logements">
  <div class="logements" >
    <div class="container-cards" [ngClass]="{'row': !telephonePortable}">

            <mat-card class="card col disabled"
            [ngClass]="{'selectionne' : typeLogement == 'insolite'}"
            (click)="typeLogement='insolite'"
            (mouseenter)="isHoverInsolite = true"
            (mouseleave)="isHoverInsolite = false">
            <mat-icon [hidden]="!isHoverInsolite" class="icone-image">landscape</mat-icon>
            <img mat-card-image src="../../../assets/logements/bulle_out.jpg">
            <mat-card-title>Insolite</mat-card-title>
            <div class="descriptif">Type de logement bientôt proposé par le clos d'Adam.</div>
            <mat-card-content>
              <div class="bold-text">Capacité :</div>
              <mat-icon>person</mat-icon>
              <mat-icon>person</mat-icon>
              <p>De 1 à 2 personnes</p>
            </mat-card-content>
            <mat-card-actions><a class="btn btn-primary" >Voir l'hébergement</a></mat-card-actions>
          </mat-card>

          <mat-card class="card col"
          [ngClass]="{'selectionne' : typeLogement == 'gite'}"
          (click)="goToLogement('gite')"
          (mouseenter)="isHoverGite = true"
          (mouseleave)="isHoverGite = false">
            <mat-icon [hidden]="!isHoverGite" class="icone-image">home</mat-icon>
            <img mat-card-image src="../../../assets/logements/Chambre_Hote_Presentation.jpg">
            <mat-card-title>Gîte</mat-card-title>
            <div class="descriptif">Gîte de caractère pour les amoureux de l’authenticité, du calme et du confort.
              <p><b>4 à 6 personnes</b></p></div>
            <mat-card-content>
              <div class="bold-text">Capacité :</div>
              <mat-icon>person</mat-icon>
              <mat-icon>person</mat-icon>
              <mat-icon>person</mat-icon>
              <mat-icon>person</mat-icon>
              <mat-icon>person</mat-icon>
              <mat-icon>person</mat-icon>
              <p>Jusqu'à 6 personnes</p>
            </mat-card-content>
            <mat-card-actions><a class="btn btn-primary">Voir l'hébergement</a></mat-card-actions>
          </mat-card>

          <mat-card class="card col disabled"
            [ngClass]="{'selectionne' : typeLogement == 'camping-car'}"
            (click)="typeLogement='camping-car'"
            (mouseenter)="isHoverCampingCar = true"
            (mouseleave)="isHoverCampingCar = false">
            <mat-icon [hidden]="!isHoverCampingCar" class="icone-image">airport_shuttle</mat-icon>
            <img mat-card-image src="../../../assets/logements/Camping_Car_Presentation.jpg">
            <mat-card-title>Emlacement Camping car</mat-card-title>
            <div class="descriptif">Type de logement bientôt proposé par le clos d'Adam.</div>
            <mat-card-content>
              <div class="bold-text">Capacité :</div>
              <mat-icon>airport_shuttle</mat-icon>
              <p>1 Camping car/emplacement</p>
            </mat-card-content>
            <mat-card-actions><a class="btn btn-primary">Voir l'hébergement</a></mat-card-actions>
          </mat-card>
        </div>
  </div>
</div>
