<!-- Image de pré-face -->
<div class="background-page">
    <img class="main-img" src="../assets/logements/bulle_out.jpg" [ngStyle]="{'height': tailleEcran}">
    <h1>
      <div>
        <span>Reservez&nbsp;</span>
        <span>le&nbsp;</span>
        <span>logement&nbsp;</span>
        <span>qui</span>
      </div>
      <div>
        <span>vous&nbsp;</span>
        <span>ressemble</span>
      </div>
    </h1>
</div>

<app-bookingbar class="search-bar" [ngStyle]="{'opacity':isScrolledToTop}"></app-bookingbar>

<!-- Contenu de la page -->
<div class="container-texte-intro">
  <h2>Les <strong>trois types de logements</strong> proposés par la Lézardière</h2>

</div>
<div class="container-logements">
  <div class="logements" >
    <div class="container-cards" [ngClass]="{'row': !telephonePortable}">
          <mat-card class="card col"
          [ngClass]="{'selectionne' : typeLogement == 'gite'}"
          (click)="typeLogement='gite'"
          (mouseenter)="isHoverGite = true"
          (mouseleave)="isHoverGite = false">
            <mat-icon [hidden]="!isHoverGite" class="icone-image">local_hotel <!--home--></mat-icon>
            <img mat-card-image src="../../../assets/logements/chambre_hote_in.jpg">
            <mat-card-title>Gite</mat-card-title>
            <div class="descriptif">Ceci est un bref texte decrivant le type de logement proposé dans cette carte ainsi que d'autres elements liés.</div>
            <mat-card-content>
              <div class="bold-text">Capacité :</div>
              <mat-icon>person</mat-icon>
              <mat-icon>person</mat-icon>
              <mat-icon>person</mat-icon>
              <mat-icon>person</mat-icon>
              <mat-icon>person</mat-icon>
              <mat-icon>person</mat-icon>
              <p>Jusqu'à 6 personnes par chambre</p>
            </mat-card-content>
            <mat-card-actions><a class="btn btn-primary">Voir l'hébergement</a></mat-card-actions>
          </mat-card>

          <!-- Portable -->
          <app-detail-logement *ngIf="typeLogement == 'gite' && telephonePortable" [typeLogement]="typeLogement"></app-detail-logement>

          <mat-card class="card col"
            [ngClass]="{'selectionne' : typeLogement == 'insolite'}"
            (click)="typeLogement='insolite'"
            (mouseenter)="isHoverInsolite = true"
            (mouseleave)="isHoverInsolite = false">
            <mat-icon [hidden]="!isHoverInsolite" class="icone-image"><!--airline_seat_flat-->landscape</mat-icon>
            <img mat-card-image src="../../../assets/logements/bulle_out.jpg">
            <mat-card-title>Insolite</mat-card-title>
            <div class="descriptif">Ceci est un bref texte decrivant le type de logement proposé dans cette carte ainsi que d'autres elements liés.</div>
            <mat-card-content>
              <div class="bold-text">Capacité :</div>
              <mat-icon>person</mat-icon>
              <mat-icon>person</mat-icon>
              <p>De 1 à 2 personnes</p>
            </mat-card-content>
            <mat-card-actions><a class="btn btn-primary" >Voir l'hébergement</a></mat-card-actions>
          </mat-card>

          <!-- Portable -->
          <app-detail-logement *ngIf="typeLogement == 'insolite' && telephonePortable" [typeLogement]="typeLogement"></app-detail-logement>

          <mat-card class="card col"
            [ngClass]="{'selectionne' : typeLogement == 'camping-car'}"
            (click)="typeLogement='camping-car'"
            (mouseenter)="isHoverCampingCar = true"
            (mouseleave)="isHoverCampingCar = false">
            <mat-icon [hidden]="!isHoverCampingCar" class="icone-image">airport_shuttle</mat-icon>
            <img mat-card-image src="../../../assets/logements/camping-car.jpg">
            <mat-card-title>Camping car</mat-card-title>
            <div class="descriptif">Ceci est un bref texte decrivant le type de logement proposé dans cette carte ainsi que d'autres elements liés.</div>
            <mat-card-content>
              <div class="bold-text">Capacité :</div>
              <mat-icon>airport_shuttle</mat-icon>
              <p>1 Camping car/emplacement</p>
            </mat-card-content>
            <mat-card-actions><a class="btn btn-primary">Voir l'hébergement</a></mat-card-actions>
          </mat-card>
          <app-detail-logement *ngIf="typeLogement == 'camping-car' && telephonePortable" [typeLogement]="typeLogement"></app-detail-logement>
        </div>
  </div>
</div>
<!-- Portable -->

<app-detail-logement *ngIf="typeLogement != '' && !telephonePortable" [typeLogement]="typeLogement"></app-detail-logement>
